extends layout.pug 

block content
    div.container
        h2 Add note 

        if error 
            p.error You did not fill something or some errors found there
        if success 
            p.success Note has added! 
            
        form.form(action="/add" method='POST') 
            label Subject 
            input.input(type="text" name='subject')

            label Text 
            textarea.input(type="text" name='text')

            button.btn Add  