doctype html
html(lang="en")
    head
        title NoteApp
        link(rel='stylesheet', href='/static/style.css')

    body 
      header.navbar 
        h1 
          a(href="/") NoteApp 
        
        nav.nav
          a(href="/notes") Notes 
          a(href="/delete") Delete 
      block content 
      